## ***Question No.1***

Question 1:

Write a Python program that prints numbers from 1 to 20, but skips all even numbers.

Use a while loop.

Use the continue statement

The numbers should be printed on the same line separated by spaces.

Expected Output:

1 3 5 7 9 11 13 15 17 19

## ***Answer No.1***

In [1]:
numbers = 1

while numbers <= 20:
    if numbers %2 == 0:               
        numbers += 1
        continue
    print(numbers, end =" ")   
    numbers += 1

1 3 5 7 9 11 13 15 17 19

## ***Question No.2***

Question 2:

Write a Python program that keeps asking the user to enter numbers and prints them.

The program should stop the loop if the user enters a negative number.

Use a while True loop with a break statement

Expected Output:

Enter a number (negative to stop): 5

You entered: 5

Enter a number (negative to stop): 10

You entered: 10

Enter a number (negative to stop): -3

Negative number entered. Loop stopped!

## ***Answer No.2***

In [2]:
while True:
    num = int(input("Enter a number (negative to stop): "))
    if num < 0:
        print("Negative number entered. Loop stopped!")
        break
    print(f"You entered: {num}")

Enter a number (negative to stop):  22

You entered: 22

Enter a number (negative to stop):  42

You entered: 42

Enter a number (negative to stop):  -4

Negative number entered. Loop stopped!

## ***Question No.3***

Question 3:


Write a Python program that asks the user to guess a secret word.

Keep asking until the user enters the correct word ("python").

When guessed correctly, print "ðŸŽ‰ You guessed it!"

Expected Output:

Guess the word: java

Guess the word: ruby

Guess the word: python

ðŸŽ‰ You guessed it!

## ***Answer No.3***

In [3]:
while True:
    word = input("Guess the word: ")
    if word == "python":
        print("ðŸŽ‰ You guessed it!")
        break

Guess the word:  java
Guess the word:  ruby
Guess the word:  python

ðŸŽ‰ You guessed it!

## ***Question No.4***

Question 4:

orders = [
    {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]},
    {"order_id": 2, "customer": "Sara", "items": [200, 150]},
    {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]},
    {"order_id": 4, "customer": "Naveed", "items": [300]},
]

You are given a list of e-commerce orders. Each order has:

an order ID

a customer name

a list of items with prices

Write a Python program to print all items for each order using nested while loops.

Expected Output:

Order ID: 1 Customer: Ali

 Item Price: 120
 
 Item Price: 80
 
 Item Price: 50

Order ID: 2 Customer: Sara

 Item Price: 200
 
 Item Price: 150

Order ID: 3 Customer: Raheel

 Item Price: 90
 
 Item Price: 60
 
 Item Price: 40
 
 Item Price: 30

Order ID: 4 Customer: Naveed

 Item Price: 300

## ***Answer No.4***

In [4]:
orders = [ 
    {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]}, 
    {"order_id": 2, "customer": "Sara", "items": [200, 150]}, 
    {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]}, 
    {"order_id": 4, "customer": "Naveed", "items": [300]}, 
]

In [5]:
i = 0
while i < len(orders):
    order = orders[i]
    print(f"Order ID: {order["order_id"]} Customer: {order["customer"]}")

    j = 0
    while j < len(order["items"]):
        print(f"Item Price: {order["items"][j]}")
        j += 1
    print()
    i += 1

Order ID: 1 Customer: Ali
Item Price: 120
Item Price: 80
Item Price: 50

Order ID: 2 Customer: Sara
Item Price: 200
Item Price: 150

Order ID: 3 Customer: Raheel
Item Price: 90
Item Price: 60
Item Price: 40
Item Price: 30

Order ID: 4 Customer: Naveed
Item Price: 300

## ***Question No.5***

Question 5:

Print total amount spent by each customer (Using nested while loop)

orders = [
    {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]},
    {"order_id": 2, "customer": "Sara", "items": [200, 150]},
    {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]},
    {"order_id": 4, "customer": "Naveed", "items": [300]},
]

Expected Output:

Ali spent total: 250

Sara spent total: 350

Raheel spent total: 220

Naveed spent total: 300

## ***Answer No.5***

In [6]:
orders = [ 
    {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]}, 
    {"order_id": 2, "customer": "Sara", "items": [200, 150]}, 
    {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]}, 
    {"order_id": 4, "customer": "Naveed", "items": [300]}, 
]

In [7]:
i = 0
while i < len(orders):
    total = 0
    j = 0
    while j < len(orders[i]["items"]):
        total += orders[i]["items"][j]
        j += 1
    print(f"{orders[i]["customer"]} spent total: {total}")
    i +=1

Ali spent total: 250
Sara spent total: 350
Raheel spent total: 220
Naveed spent total: 300

## ***Question No.6***

Question 6:

Print the maximum item price for each order. (Using nested while loop)

orders = [ {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]}, {"order_id": 2, "customer": "Sara", "items": [200, 150]}, {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]}, {"order_id": 4, "customer": "Naveed", "items": [300]}, ]

Expected Output:

Most expensive item in Order 1 = 120

Most expensive item in Order 2 = 200

Most expensive item in Order 3 = 90

Most expensive item in Order 4 = 300

## ***Answer No.6***

In [8]:
orders = [ 
    {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]}, 
    {"order_id": 2, "customer": "Sara", "items": [200, 150]}, 
    {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]}, 
    {"order_id": 4, "customer": "Naveed", "items": [300]}, 
]

In [9]:
i = 0
while i < len(orders):
    items = orders[i]["items"]
    max_price = items[0]                 #Initializing the first item in "items" like 120 in first one.
    
    j = 1
    while j < len(items):
        if items[j] > max_price:
            max_price == items[j]
        j += 1
        
    print(f"Most expensive order in Order {i+1} = {max_price}")
    i += 1

Most expensive order in Order 1 = 120
Most expensive order in Order 2 = 200
Most expensive order in Order 3 = 90
Most expensive order in Order 4 = 300

## ***Question No.7***

Question 7:

Write a Python program to create a single list (list comprehension) that contains all numbers from 1 to 50 which are multiples of 5 and 10.

Expected Output:

Multiples of 5 and 10 from 1 to 50: [10, 20, 30, 40, 50]

## ***Answer No.7***

In [10]:
multiples = [x for x in range(1,51) if x % 10 == 0]

In [11]:
print(f"Multiples of 5 and 10 from 1 to 50: {multiples}")

Multiples of 5 and 10 from 1 to 50: [10, 20, 30, 40, 50]

## ***Question No.8***

Question 8:

employees = [
    {"emp_id": 1, "name": "Ali", "dept": "Sales", "salary": 50000, "experience": 2},
    {"emp_id": 2, "name": "Sara", "dept": "IT", "salary": 65000, "experience": 5},
    {"emp_id": 3, "name": "Raheel", "dept": "HR", "salary": 45000, "experience": 1},
    {"emp_id": 4, "name": "Naveed", "dept": "Finance", "salary": 70000, "experience": 7},
    {"emp_id": 5, "name": "Ayesha", "dept": "IT", "salary": 72000, "experience": 6},
    {"emp_id": 6, "name": "Talha", "dept": "Sales", "salary": 55000, "experience": 3},
    {"emp_id": 7, "name": "Sana", "dept": "Finance", "salary": 80000, "experience": 8},
    {"emp_id": 8, "name": "Hina", "dept": "HR", "salary": 48000, "experience": 2},
]

Using List Comprehension

Employees with salary > 60,000 AND experience > 5 years

Expected Output:
['Naveed', 'Ayesha', 'Sana']

## ***Answer No.8***

In [12]:
employees = [ 
    {"emp_id": 1, "name": "Ali", "dept": "Sales", "salary": 50000, "experience": 2}, 
    {"emp_id": 2, "name": "Sara", "dept": "IT", "salary": 65000, "experience": 5}, 
    {"emp_id": 3, "name": "Raheel", "dept": "HR", "salary": 45000, "experience": 1}, 
    {"emp_id": 4, "name": "Naveed", "dept": "Finance", "salary": 70000, "experience": 7}, 
    {"emp_id": 5, "name": "Ayesha", "dept": "IT", "salary": 72000, "experience": 6}, 
    {"emp_id": 6, "name": "Talha", "dept": "Sales", "salary": 55000, "experience": 3}, 
    {"emp_id": 7, "name": "Sana", "dept": "Finance", "salary": 80000, "experience": 8}, 
    {"emp_id": 8, "name": "Hina", "dept": "HR", "salary": 48000, "experience": 2}, 
]

In [13]:
employee = [e["name"] for e in employees if e["salary"] > 60000 and e["experience"] > 5]

In [14]:
employee

['Naveed', 'Ayesha', 'Sana']

## ***Question No.9***

Question 9:

Employees with NOT HR department

Expected Output:
['Ali', 'Sara', 'Naveed', 'Ayesha', 'Talha', 'Sana']

## ***Answer No.9***

In [15]:
employee = [e["name"] for e in employees if e["dept"] != "HR"]

In [16]:
employee

['Ali', 'Sara', 'Naveed', 'Ayesha', 'Talha', 'Sana']

## ***Question No.10***

Question 10:

Employees NOT in Sales OR experience > 5

Expected Output:
['Sara', 'Raheel', 'Naveed', 'Ayesha', 'Sana', 'Hina']

## ***Answer No.10***

In [17]:
employee = [e["name"] for e in employees if e["dept"] != "Sales" or e["experience"] > 5]

In [18]:
employee

['Sara', 'Raheel', 'Naveed', 'Ayesha', 'Sana', 'Hina']