# ***Name: Sameer Bin Ali***
# ***Email: Alisameer516854@gmail.com***
# ***Jawan Pakistan Data Analytics Course Assignment #2***

### ***Question No.1***

Q1. Write a program that takes two numbers (a = 15 , b = 4) and prints their:


- Sum

- Difference

- Product

- Division

- Floor Division

- Modulus

### ***Answer No.1***

In [1]:
# Numbers or Variables we have:
a = 15
b = 4


# Code

print(f"{a + b}\n\n{a - b}\n\n{a * b}\n\n{a / b}\n\n{a // b}\n\n{a % b}")        # Used F-String in the code to get Output vertically in single print

19

11

60

3.75

3

3

### ***Question No.2***

Q2. Check the type and convert: 
(num1 = 10, num2 = 5.6, num3 = 4.43, num4='23')

- Integer to float

- Float to integer

- Float to String

- String to Integer

### ***Answer No.2***

In [2]:
# Numbers we have

num1 = 10     # integer
num2 = 5.6    # float
num3 = 4.43   # float
num4 = "23"   # string

# Converting the Numbers through code using F-String

print(f"Integer to Float: {float(num1)}\n\nFloat to Integer: {int(num2)}\n\nFloat to String: {str(num3)}\n\nString to Integer: {int(num4)}")

Integer to Float: 10.0

Float to Integer: 5

Float to String: 4.43

String to Integer: 23

### ***Question No.3***

Q3. Write a code to store your favorite food in a variable and print it.

### ***Answer No.3***

In [3]:
favorite_food = "Biryani"

print(favorite_food)

Biryani

### ***Question No.4***

Q4. "I have 22 apples and 33 mangoes. How many fruits do I have in total?"

apple = '22'

mangoes = 33

### ***Answer No.4***

In [4]:
apple = '22'

mangoes = 33

print(f"Total_Fruits: {int(apple) + mangoes}")     # first convert apple = '22' str into int then add with mangoes = 33

Total_Fruits: 55

### ***Question No.5***

Q5. Store in a variable: Write Your name , Your age, Add 1 to your age using a variable, Print final age

### ***Answer No.5***

In [5]:
Name = " Sameer Bin Ali"
Age = 26
New_Age_Adding_1 = Age + 1

print(f"Name: {Name}\n\nAge: {Age}\n\nNew Age Adding 1: {New_Age_Adding_1}")

Name:  Sameer Bin Ali

Age: 26

New Age Adding 1: 27

### ***Question No.6***

Q6.

a = 2

b = 1

c = 6

d = 3

- Add a and b

- Subtract c and a

- Multiply d and b

- Divide c and d (float division)

- Find modulus of c divided by d

- Square of (d+a)

### ***Answer No.6***

In [6]:
# Given Numbers or Variables are:

a = 2
b = 1
c = 6
d = 3

# Code

print(f"Addition of a and b: {a+b}\n\nSubtraction of c and a: {c-a}\n\nMultiplication of d and b: {d*b}\n\nDivision of c and d: {c/d}\n\nModulus of c divided by d: {c%d}\n\nSquare of (d+a): {(d+a)**2}")

Addition of a and b: 3

Subtraction of c and a: 4

Multiplication of d and b: 3

Division of c and d: 2.0

Modulus of c divided by d: 0

Square of (d+a): 25

### ***Question No.7***

Q7.

a = '2'

b = '11'

c = 6.3

Convert a to integer then add to c

Convert b to float then multiply by c

Convert c to integer then add to c

### ***Answer No.7***

In [7]:
# Given Number or Variables are:

a = '2'
b = '11'
c = 6.3

# Code

print(f"Conversion of a to int then adding c: {int(a)+c}\n\nConversion of b to float then multiplying by c: {float(b)*c}\n\nConversion of c to int and adding c: {int(c)+c}")

Conversion of a to int then adding c: 8.3

Conversion of b to float then multiplying by c: 69.3

Conversion of c to int and adding c: 12.3

### ***Question No.8***

Q8.

You were 20 years old in the year 2020. Now add 5 more years to your age. What is your current age now?

Store age in a variable called age. Print final output in same variable

### ***Answer No.8***

In [8]:
Age = 20                             #Age in 2020
print(F"Age: {Age + 5}")             #Age after adding 5 years

Age: 25

### ***Question No.9***

Q9.

You had 12 books, and you gave 4 to your friend. How many books do you have now?

Store books in a variable called books. Print final output in same variable

### ***Answer No.9***

In [9]:
books = 12                          #Total books i have
print(f"books: {books-4}")          #Remaining books after giving 4 to my friend

books: 8

### ***Question No.10***

Q10.

You baked 5 cookies. You baked 3 times more cookies today. How many cookies did you bake today?

Store cookies in a variable called cookies. Print final output in same variable

### ***Answer No.10***

In [10]:
cookies = 5                           #cookies i baked
print(f"cookies: {cookies*3}")        #3 times more cookies baked

cookies: 15