## ***Question No.1***

Q1. Write a Python function called add_numbers that takes two numbers as arguments and returns their sum. Then, test the function by calling it with two numbers of your choice.

## ***Answer No.1***

In [1]:
def add_numbers(c, d):
    return c + d
    
add_numbers(4, 7)

11

## ***Question No.2***

Q2. Write a Python function count_vowels that accepts a string and returns the number of vowels a, e, i, o, u, A, E, I, O, U in that string.

- Example: 'Welcome'
- Output: 3 vowels

## ***Answer No.2***

In [2]:
def count_vowels(text_string):
   
    """ counting vowels a,e,i,o,u using a string called text_string """
    
    vowels = "aeiouAEIOU"
    
    count = sum(1 for character in text_string if character in vowels)
    
    return f'{count} vowels'

print(count_vowels('welcome'))

3 vowels

## ***Question No.3***

Q3. Create a Python function called currency_converter() that takes two arguments:

- amount: The amount of money to be converted (in USD).
- exchange_rate (default is 280): The conversion rate from USD to another currency (e.g., PKR). You can assume the default rate is 1 USD = 280 PKR.
- 
The function should return a message showing how much the given amount is worth in the target currency (PKR).

Expected Output:

'100 USD is equivalent to 28000 PKR'

## ***Answer No.3***

In [3]:
def currency_converter(amount, exchange_rate = 280):
    
    """
    This function converts USD to other currency (like PKR in our case) by the given exchange rate.

    Parameters are: 
    amount (float): the amount given in USD.
    exchange_rate (float): default as 280. 

    Returns a string which shows the converted USD amount.  
    """

    converted_amount = amount * exchange_rate
    return f'{amount} USD is equivalent to {converted_amount} PKR'

print(currency_converter(100))

100 USD is equivalent to 28000 PKR

## ***Question No.4***

Q4. Write a Python function display_student_info that accepts the following details about a student:

- name (Keyword argument): The name of the student.
- age (Keyword argument): The age of the student.
- grade (Keyword argument): The grade the student is in.
- school (Keyword argument): The name of the school the student attends.

Expected Output:

- Name: John Doe
- Age: 15
- Grade: 10th
- School: Greenwood High

## ***Answer No.4***

In [4]:
def display_student_info(name, age, grade, school):
    print('Name:', name)
    print('Age:', age)
    print('Grade:', grade)
    print('School:', school)

display_student_info(name = "John Doe", age = 15, grade = '10th', school = 'Greenwood High')

Name: John Doe
Age: 15
Grade: 10th
School: Greenwood High

## ***Question No.5***

Q5. Write a Python function calculate_price that accepts two positional arguments:

- price: The price of a single item.
- quantity: The number of items bought.
- The function should return the total price by multiplying price and quantity.

## ***Answer No.5***

In [5]:
def calculate_price(price, quantity):
    total_price = price * quantity
    return total_price

print(calculate_price(150, 12))

1800

## ***Question No.6***

Q6. Write a Python function display_prices that takes a product name and an arbitrary number of keyword arguments representing product prices. The function should display each product and its price.

Expected Output:

Product: Laptop

Amazon: $800

eBay: $750

Walmart: $780

## ***Answer No.6***

In [6]:
def display_prices(product_name, **prices):
    
    print(f'Product: {product_name}')
    
    for product, price in prices.items():
    
        print(f'\n{product}: ${price}')

display_prices('Laptop', Amazon = 800, eBay = 750, Walmart = 780)

Product: Laptop

Amazon: $800

eBay: $750

Walmart: $780

## ***Question No.7***

Q7. Write a Python function find_max that takes arbitrary number of positional arguments and returns the maximum number.

## ***Answer No.7***

In [7]:
def find_max(*numbers):

    if not numbers:
        return None
    
    return max(numbers)

find_max(12,44,15,84)

84

## ***Question No.8***

Q8. 

Write a Python function calculate_rectangle that accepts the length and width of a rectangle as arguments. Inside this function, create two nested functions:

- calculate_area: This function should calculate the area of the rectangle.
- calculate_perimeter: This function should calculate the perimeter of the rectangle.
- The main function should return both the area and the perimeter of the rectangle.

Expected Output:

Area: 15

Perimeter: 16

## ***Answer No.8***

In [8]:
def calculate_rectangle(length, width):
    
    def calculate_area():
        return length * width
    
    def calculate_perimeter():
        return (length + width) * 2

    print('Area:' ,calculate_area())
    print('\nPerimeter:', calculate_perimeter())

calculate_rectangle(5, 3)

Area: 15

Perimeter: 16

## ***Question No.9***

Q9. Write a Python function taxi_fare(distance, rate=100) that calculates the taxi fare.
The default rate is 100 PKR per km, but the user can also enter a custom rate.

FORMULA: distance * rate

Expected Output:

- Taxi fare for 10 km = 1000 PKR (using default parameter)
- Taxi fare for 15 km = 1800 PKR (custom rate)

## ***Answer No.9***

In [9]:
def taxi_fare(distance, rate = 100):
    
    fare = distance * rate
    
    print(f'Taxi fare for {distance} km = {fare} PKR')


taxi_fare(10)

taxi_fare(15, 120)

Taxi fare for 10 km = 1000 PKR
Taxi fare for 15 km = 1800 PKR

## ***Question No.10***

Q10.

Write a Python function shopping_bill(price, quantity, discount=0) that uses nested functions:

- An inner function calculate_total() → multiplies price * quantity.
- An inner function apply_discount(total) → subtracts discount from total (but never below 0).

The outer function should return the final bill amount.

Expected Output:

- Final Bill = 600 PKR (no discount)
- Final Bill = 500 PKR (with discount)

## ***Answer No.10***

In [10]:
def shopping_bill(price, quantity, discount=0):
    
    def calculate_total():
        return price * quantity
    
    def apply_discount(total):
        discounted = total - discount
        return max(discounted, 0)

    total_amount = calculate_total()
    final_bill = apply_discount(total_amount)

    print(f'Final Bill = {final_bill} PKR')

shopping_bill(60, 10)
shopping_bill(60, 10, 100)

Final Bill = 600 PKR
Final Bill = 500 PKR

In [11]:
#Alternative approach:

def shopping_billl(pricee, quantityy, discountt=0):
    
    def calculate_totall():
        return pricee * quantityy
    
    def apply_discountt():
        return max(calculate_totall() - discountt, 0)
    
    final_amount = apply_discountt()

    print(f'Final Bill = {final_amount} PKR')

shopping_billl(70, 15)
shopping_billl(70, 15, 300)

Final Bill = 1050 PKR
Final Bill = 750 PKR